<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.tensevntysevn.fresh">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_DEVICE_CONFIG"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_DEVICE_CONFIG"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CHANGE_OVERLAY_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.KILL_BACKGROUND_PROCESSES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SYSTEM_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.RECOVERY"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="SamsungBasicInteraction"
        android:value="SEP10" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_fresh"
        android:label="@string/app_name"
        android:requiredForAllUsers="true"
        android:roundIcon="@mipmap/ic_launcher_fresh"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zest">

        <uses-library
            android:name="fresh_platform_library_nxt"
            android:required="true" />

        <activity
            android:name=".zest.OpenSourceActivity"
            android:exported="false"
            android:label="@string/zest_about_page_open_source" />
        <activity
            android:name=".zest.LocalizationActivity"
            android:exported="false"
            android:label="@string/zest_about_page_translations" />
        <activity
            android:name=".zest.SettingsActivity"
            android:exported="true"
            android:icon="@drawable/system_settings_zest_plugin_icon"
            android:label="@string/zest_system_settings_plugin_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/zest_system_settings_plugin_title" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/zest_system_settings_plugin_summary" />
        </activity>
        <activity
            android:name=".zest.AboutActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/OneUI4AboutTheme" />
        <activity
            android:name=".ota.OtaMainActivity"
            android:exported="true"
            android:label="@string/fresh_ota_main_title" />
        <activity
            android:name=".zest.sub.ScreenResolutionActivity"
            android:exported="false"
            android:label="@string/zest_screen_resolution_setting_title" />
        <activity
            android:name=".zest.sub.VideoBrightnessActivity"
            android:exported="true"
            android:label="@string/zest_hdr_effect_setting_title" />
        <activity
            android:name=".zest.sub.MaverickSettingsActivity"
            android:exported="true"
            android:label="@string/zest_maverick_security_setting_title" />

        <service
            android:name=".services.RestartTileService"
            android:icon="@drawable/ic_qs_tile_restart"
            android:label="@string/qs_dialog_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".system.BootReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".controller.UpdaterService" />
        <service android:name=".ExportUpdateService" />

        <receiver android:name=".UpdaterReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".UpdatesCheckReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>