<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.tenseventyseven.fresh.udfps.res">

    <application
        android:hasCode="false"
        android:label="Fresh Fingerprint Styles"
        android:supportsRtl="true" />
</manifest>